<header class="bg-white/80 dark:bg-slate-950/80 backdrop-blur-xl full-width top-0 sticky z-40 shadow-sm shadow-slate-200/50 dark:shadow-none flex justify-between items-center h-16 px-8 w-full">
    <div class="flex items-center gap-8 flex-1">
        <h2 class="text-blue-900 dark:text-blue-400 font-bold text-xl tracking-tight hidden sm:block">Events</h2>
        <div class="relative w-full max-w-md focus-within:ring-2 focus-within:ring-blue-100 rounded-lg transition-all">
            <span class="material-symbols-outlined absolute left-3 top-1/2 -translate-y-1/2 text-slate-400 text-lg">search</span>
            <input class="w-full bg-surface-container-high border-none rounded-lg py-2 pl-10 pr-4 focus:bg-surface-container-lowest focus:ring-0 text-on-surface placeholder:text-slate-400" placeholder="Search curated experiences..." type="text"/>
        </div>
    </div>
    <div class="flex items-center gap-6">
        <div class="flex items-center gap-4 text-slate-500">
            <button class="hover:text-blue-700 dark:hover:text-blue-300 transition-colors">
                <span class="material-symbols-outlined">notifications</span>
            </button>
            <button class="hover:text-blue-700 dark:hover:text-blue-300 transition-colors">
                <span class="material-symbols-outlined">settings</span>
            </button>
        </div>
        <div class="h-8 w-[1px] bg-slate-200"></div>
        <div class="flex items-center gap-3">
            <div class="text-right hidden md:block">
                <p class="text-[11px] font-bold text-on-surface uppercase tracking-wider">Alexander Vance</p>
                <p class="text-[10px] text-slate-500">Premium Member</p>
            </div>
            <img alt="User profile" class="w-10 h-10 rounded-full object-cover ring-2 ring-white shadow-sm" src="https://lh3.googleusercontent.com/aida-public/AB6AXuCSvW3V2wwB8k4WblEayHocNhxYzTXPx6oTmnt9nC9Aus2Gb7M093IT8RFGX9yl4fMK9DBxhFdqjfgCvnpojdemPMdhy_qOKlS6n0p292TDCgSnaYBmEhQUtBJaipKXF4Lpyaz-_65jCHM9SNvCVIE1AfxoSyoDgA75ZUcjs2lrg2LFV2N7DDQojR3BJjTX7Ct4vXx3qyWVUwOwJolFp0Uzbc1qRbK0ctzqUA1msiHPLhjyC8fEnGAoTEwmljdmdReTtP65q8jPFi4"/>
        </div>
    </div>
</header>
